:root {
  --primary-color: #34CB79;
  --title-color: #322153;
  --text-color: #6c6c80;
  --color-azul-escuro: #7D98DD;
  --color-azul-claro: #D0D3EA;
  --color-background-page: #f0f0f5;
  --color-background-input: white;
  --height-input: 33px;
  --height-button: 38px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 body {
  background: var(--color-background-page); 
  color: var(--text-color);
  font-family: 'Ubuntu', sans-serif;
  height: 100vh;
  width: 100vw;
} 